.container { 
    background-color: #3e4a61;
    width: fit-content;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-shadow: -4px 8px 9px rgba(0,0,0,0.49);
    display: flex; 
    flex-direction: column;
    

}

.closeButton { 

            border: 0px;
            background-color: #1a2639;
            width: fit-content;
            height: fit-content;
            border-radius: 15px;
            color:white;
}

.closeButton:hover { 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}