.searchInput { 
    border: 0px;
    border-radius: 15px 0px opx 15px ;
    background-color: #d9dad7;
}

.searchButton {
    border: 0px; 
    border-radius: 0px 15px 15px 0px;
    background-color: #d9dad7;
}

.bar { 
    width: 15%;
    
}



